@{
    ViewBag.Title = "Main";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    @ViewData["SubTitle"]
                </h1>
                <small>@ViewData["Message"]</small>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Proceso de Compra en el Sistema Logístico</small></h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">1</span> Requerimiento
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el Ingeniero de Campo. Aquí se crean los requerimientos de Materiales que la Obra requiera.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">2</span> Aprobación de Requerimiento
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el Ingeniero Residente. Aquí se aprueban los requerimientos solicitados en el paso 1.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">3</span> Cotización y Generación de Orden de Compra
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el área de Logística. Aquí se realizan las Cotizaciones y se Emiten las Ordenes de Compra</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">4</span> Aprobación 1 de Orden de Compra
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el Ingeniero de Campo. Aquí se realiza la Primera Aprobación de la Orden de Compra.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">5</span> Aprobación 2 de Orden de Compra
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza la Jefatura de Proyecto. Aquí se realiza la Segunda Aprobación de la Orden de Compra.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">6</span> Aprobación 3 de Orden de Compra
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza la Gerencia. Aquí se realiza la Tercera y Última Aprobación de la Orden de Compra.</p>
                                </div>
                                @*<div class="panel-footer">
                Panel Footer
            </div>*@
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">7</span> Envío de Orde de Compra a Proveedor
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el área de Logística. Aquí se realiza el envío de la Orden de Compra al Proveedor</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">8</span> Ingreso de Orden de Compra al Almacén
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el Encargado de Almacén. Aquí se realiza el registro de la entrega de la Orden de Compra</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">9</span> Ingreso de Factura
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el área de Contabilidad . Aquí se realiza el registro de la Factura correspondiente a la Orden de Compra</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>