
@{
    ViewBag.Title = "Cart";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Procesar Ordenes de Compra por Servicios (Valorizaciones)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Ingreso</a>
            </li>
            <li class="active">
                <strong>Servicios</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">



    <div class="row">
        <div class="col-md-9">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>5</strong>) items</span>
                    <h5>OC de Servicios Pendientes de Enviar</h5>
                </div>
                <div class="ibox-content">


                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                OC 000573
                                            </a>
                                        </h3>
                                        <p class="small">
                                            Servicio
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Instalación</dt>
                                            <dd>Servicio de Instalación de Griferias</dd>
                                        </dl>

                                        <div class="m-t-sm">
@*                                            <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>*@
                                            |
                                            <a href="#" class="text-muted"><i class="fa fa-trash"></i> Quitar Orden</a>
                                        </div>
                                    </td>

                                    <td>
                                        Avance S/.180,00 -  78%
                                        <s class="small text-muted">S/.230,00</s>
                                    </td>
                                    <td width="75">
                                        <input type="text" class="form-control" placeholder="22%">
                                    </td>
                                    <td>
                                        <h4>
                                            S/.50,000
                                        </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                OC 000534
                                            </a>
                                        </h3>
                                        <p class="small">
                                            Servicio
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Pintura</dt>
                                            <dd>PINTADO DE AREAS COMUNES EN CD-VES (LINEAS PEATONALES-INSP INDECI)</dd>
                                        </dl>

                                        <div class="m-t-sm">
@*                                            <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>*@
                                            |
                                            <a href="#" class="text-muted"><i class="fa fa-trash"></i> Quitar Orden</a>
                                        </div>
                                    </td>

                                    <td>
                                        Avance S/.50,000 -  79%
                                        <s class="small text-muted">S/.63,000</s>
                                    </td>
                                    <td width="75">
                                        <input type="text" class="form-control" placeholder="21%">
                                    </td>
                                    <td>
                                        <h4>
                                            S/.13,000
                                        </h4>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                OC 000654
                                            </a>
                                        </h3>
                                        <p class="small">
                                            Distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>

                                        <div class="m-t-sm">
                                            @*<a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>*@
                                            |
                                            <a href="#" class="text-muted"><i class="fa fa-trash"></i> Quitar Orden</a>
                                        </div>
                                    </td>

                                     <td>
                                        Avance S/.50,000 -  79%
                                        <s class="small text-muted">S/.63,000</s>
                                    </td>
                                    <td width="75">
                                        <input type="text" class="form-control" placeholder="21%">
                                    </td>
                                    <td>
                                        <h4>
                                            S/.13,000
                                        </h4>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                OC 000750
                                            </a>
                                        </h3>
                                        <p class="small">
                                            Readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>

                                        <div class="m-t-sm">
                                            @*<a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>*@
                                            |
                                            <a href="#" class="text-muted"><i class="fa fa-trash"></i> Quitar Orden</a>
                                        </div>
                                    </td>

                                    <td>
                                        Avance S/.50,000 -  79%
                                        <s class="small text-muted">S/.63,000</s>
                                    </td>
                                    <td width="75">
                                        <input type="text" class="form-control" placeholder="21%">
                                    </td>
                                    <td>
                                        <h4>
                                            S/.13,000
                                        </h4>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                OC 000485
                                            </a>
                                        </h3>
                                        <p class="small">
                                            Page when looking at its layout. The point of using Lorem Ipsum is
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>

                                        <div class="m-t-sm">
                                            @*<a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>*@
                                            |
                                            <a href="#" class="text-muted"><i class="fa fa-trash"></i> Quitar Orden</a>
                                        </div>
                                    </td>

                                    <td>
                                        Avance S/.50,000 -  79%
                                        <s class="small text-muted">S/.63,000</s>
                                    </td>
                                    <td width="75">
                                        <input type="text" class="form-control" placeholder="21%">
                                    </td>
                                    <td>
                                        <h4>
                                            S/.13,000
                                        </h4>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">

                    <button class="btn btn-primary pull-right"><i class="fa fa  fa-arrow-circle-o-right"></i> Enviar</button>
                    <button class="btn btn-white"> Guardar </button>

                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Resumen de Avance de Servicios</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        S/.102,000
                    </h2>

                    <hr />
                    <span class="text-muted small">
                        *kdsksdksdkskds
                    </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa  fa-arrow-circle-o-right"></i> Enviar</a>
                            <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Contacto</h5>
                </div>
                <div class="ibox-content text-center">



                    <h3><i class="fa fa-phone"></i> +51 3461989</h3>
                    <span class="small">
                        Por favor comuniquese con Contabilidad ante cualquier duda.
                    </span>


                </div>
            </div>

            

        </div>
    </div>




</div>
