
@{
    ViewBag.Title = "Approve";
}


<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h3 class="font-bold">Página en Proceso de Integración</h3>

                <div class="error-desc">
                    Temporalmente ud puede acceder a las Aprobaciones de Ordenes de Compra a través del siguiente botón. Próximamente se encontrarán integradas.
                    <br /><a href="http://35.167.203.35/PissanoOC/ConsultaOC.aspx" target="_blank" class="btn btn-primary m-t">Ingresar Ordenes de Compra</a>
                </div>


            </div>
        </div>
    </div>
</div>